<!DOCTYPE html>
<head class="header-base">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
        type="text/css">
    <title>Hire a Samurai{% block title %}{% endblock %}</title>
    <div class="container-fluid">
        <div class="row center-xs">
            <div class="col-xs-4 col-sm-2">
                <div class="box">
                    {% load static %}
                    <img src="{% static 'main/Hire_a_Samurai_Logo.png' %}" alt="My image">
                </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="box">
                    <h1>Hire a Samurai</h1>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="box">
                    {% if user.is_authenticated %}
                    <p><a href="/logout">LOGOUT FROM ACCOUNT!!</a></p>
                    {% else %}
                    <p>Login <a href="/login">Here</a>!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</head>
<body>
<div class="container-fluid" id="content" name="content">
    {% block content %}
    {% endblock %}
</div>
</body>
<footer></footer>
</html>