{% extends 'main/base.html' %}

{% block title %}: Locksmith List{% endblock %}

{% block content %}
    <h1>Los Mejores Cerrajeros</h1>
    {% if user.is_authenticated %}
    <ul>
        {% for user in object_list %}
            <li><a href="{% url 'locksmith-data' user.cerrajero.pk %}">{{ user.first_name }}</a></li>
            <li>{{ user.last_name }}</li>
            <li>{{ user.avg|floatformat:1|default:0 }}</li>

        {% endfor %}
    </ul>
    {% else %}
    <p>You neeed to log in to view locksmiths!</p>
    {% endif %}
{% endblock %}