{% extends 'main/base.html' %}

{% block title %}: Locksmith Information{% endblock %}

{% block content %}
<h1>Datos de Cerrajero</h1>
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row xs">
        <div class="col-sx-3">
            <ul class="locksmithsearch" >
                <li>Nombre: {{ object.user.first_name }} {{ object.user.last_name }}</li>
                <li>Ciudad: {{ object.city.name }}</li>
                <li>Telefono: {{ object.phone }}</li>
                <li>
                    <form action="/rating/" method="get">

                        <select name="rate">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="hidden" name="pk" value="{{ object.pk }}">
                        <input type="submit" value="Calificar">
                    </form>
                    <button onclick="location.href='{% url 'contract' object.pk %}'" type="button">Contratar</button>
            </ul>
            {% else %}
            <p>You neeed to log in to view locksmiths!</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}